MNIST/answers/submission.PNG
MNIST/answers/answers.csv
MNIST/data/sample_submission.csv
MNIST/data/train.csv
MNIST/data/test.csv
MNIST/.ipynb_checkpoints/MNIST Decision Tree-checkpoint.ipynb
MNIST/.ipynb_checkpoints/MNIST CNN classifier-checkpoint.ipynb
